/* homestyle template */

body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  /*background: #000; */
}

body::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Add a thumb */
body::-webkit-scrollbar-thumb {
    background: rgba(46, 20, 50, 0.2);
}

body, html {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}


.page-heading {
  background-image: url(../img/heading_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
}

.page-heading .heading-content h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  background-color: rgba(250,250,250,0.1);
  display: inline-block;
  margin-bottom: 0;
  margin-top: 220px;
  padding: 20px 60px;
}

.page-heading .heading-content em {
  font-style: normal;
  font-weight: 200;
}





/* Nav Bar */

nav .logo
{
	float: left;
	margin-left: 30px;

}



nav .logo a
{
    font-size: 28px;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    
    letter-spacing: 1px;
}



nav .logo em {
  font-style: normal;
  font-weight: 200;
  color: pink;
  letter-spacing: 1px;
  font-size: 18px;
}


nav {
  background:  rgba(0,0,0,0.85);
  height: 80px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,2);
}

.menu-icon {
  background: transparent;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 15px 39px 0 auto;
  position: relative;
  cursor: pointer;
  transition: background 0.5s;
  border-radius: 5px;
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
  transition: all 0s ease-in-out;
}

.menu-icon span:before {
  left: 0;
  top: -10px;
}

.menu-icon span:after {
  left: 0;
  top: 10px;
}

.menu-icon.active {
  background: transparent;
}

.menu-icon.active span {
  background-color: transparent;
}

.menu-icon.active span:before,
.menu-icon.active span:after {
  top: 0;
}

.menu-icon.active span:before {
  transform: rotate(135deg);
}

.menu-icon.active span:after {
  transform: rotate(-135deg);
}
/* Menu */
/*  background: linear-gradient(90deg, rgba(0,0,0,0.8497373949579832) 49%,  rgba(46, 185, 201, 0.45) 49%);
*/
.overlay-menu
{
    background: rgba(0,0,0,0.9497373949579832);
    color: #fff;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 50%;
    padding: 50px;
    opacity: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.5s;
    overflow: hidden;
}

.overlay-menu.open {
  opacity: 0.9;
  transform: translateY(0%);
}

.overlay-menu .main-menu {
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 1s;
}

.overlay-menu.open .main-menu {
  transition: all 0.7s;
  transition-delay: 0.7s;
  opacity: 1;
  transform: translateY(0%);
}

.overlay-menu .main-menu:nth-child(2) {
  transition-delay: 0s;
}

.overlay-menu.open .main-menu:nth-child(2) {
  transition-delay: 1.25s;
}

.overlay-menu {
  overflow: scroll;
}

.overlay-menu::-webkit-scrollbar {
  display: none;
}

.overlay-menu ul {
  list-style: none;
  top: 0;
}
.overlay-menu ul li {
  padding: 10px 10px;
}

.overlay-menu ul li a
{
	font-size: 34px;
	font-weight: 500;
	color: white;
	text-decoration: none;
	transition: all 0.7s;
	

}


.overlay-menu ul li h1
{
	font-size: 34px;
	color: pink;
	text-decoration: none;
	transition: all 0.7s;
	letter-spacing: 4px;
    font-weight: 300;
    text-align: center;
	

}


.overlay-menu ul li a:hover {
  color: rgba(5,5,5,0.9);
}


.overlay-menu p {
  margin-top: 60px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: center;
}



#video-container  {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  }

  

#video-container .video-overlay {
  z-index: 9999;
  background: linear-gradient(90deg, rgba(46, 185, 201, 0.45) 49%,  rgba(0,0,0,0.8497373949579832) 49%);
}  


#video-container .video-content {
  z-index: 99999;
  position: absolute;
  height: 100%;
  width: 100%;
}

#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#video-container .video-content .inner h1 {
  font-size: 64px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
}

#video-container .video-content .inner h2
{
    font-size: 26px;
    text-transform: uppercase;
    color: pink;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}

#video-container .video-content .inner em
{
    font-style: normal;
    font-weight: 200;
    color: pink;
    
   /* color: pink;*/
}


#video-container .video-content .inner p
{
    color: #424242;
    font-size: 33px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 0px 30px;
}

#video-container .video-content .inner a {
  color: #fff;
}

#video-container .video-content .inner .scroll-icon {
  margin-top: 45px;
}

.full-screen-portfolio .container-fluid,
.full-screen-portfolio .col-md-4, .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}



/*
#container-fluid .col-md-12 {
    background: #000;
    
}

*/


.portfolio-item img {
  width: 100%;
  overflow: hidden;
}

.portfolio-item .thumb {
  position: relative;
}


.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
}


.full-screen-portfolio .portfolio-item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 15px;
  transform: translateY(25px);
  transition: .5s ease-in-out;
  letter-spacing: 0.5px;
 }

 .full-screen-portfolio .portfolio-item em {
  font-style: normal;
  font-weight: 200;
 }

.full-screen-portfolio .portfolio-item:hover h1 {
  transform: translateY(0);
 }

.full-screen-portfolio .portfolio-item p {
  padding-left: 20px;
  font-weight: 300!important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
  text-transform: uppercase;
 }

 .full-screen-portfolio .portfolio-item {
 text-align: center;
 line-height: 150%;
 text-transform: lowercase;
 cursor: pointer;
}

.full-screen-portfolio .portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
 }




.popup-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 300;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.popup-icon button {
  background-color: transparent;
  outline: none;
  border: none;
}

.modal-btn img {
  width: 60px;
  height: 60px;
}



